title: InfoSec WriteUps by Zishan Ahamed Thandar
slogan: Deep-dive cyber security, CTF & bug bounty
url: "https://blog.zishanhack.com"
baseurl: ""   # keep empty for root
author: "Zishan Ahamed Thandar"

collections:
  notes:
    output: true

defaults:
  - scope:
      path: ""
    values:
      layout: default

plugins:
  - kramdown
  - jekyll-sitemap

