<!DOCTYPE html>
<html lang="en">
  {% include head.html%}
  <body>
    {% include nav.html %}
    <br />
    <h1 class="page-title">Posts</h1>
    <main class="post-list">
      {% for post in site.posts %}
      <a href="{{site.url}}{{site.baseurl}}{{post.url}}" class="post">
        <p class="post-title">{{post.title}}</p>
        <div class="post-bottom">
          <small class="post-date">{{post.date | date_to_string}}</small>
          {% if post.image %}
          <!-- <img class="thumbnail" src="{{site.url}}{{site.baseurl}}{{post.image}}" alt="" /> -->
          <div
            class="thumbnail"
            style="background-image: url({{site.url}}{{site.baseurl}}{{post.image}})"
          ></div>
          {% else %}
          <div
            class="thumbnail"
            style="background-image: url({{site.url}}{{site.baseurl}}/assets/uploads/default.jpg)"
          ></div>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
