---
layout: default
---

<main class="container py-4 page">
  <h1 class="mb-4">{{ page.title }}</h1>
  {{ content }}

  <div class="row">
    {% assign folder_path = page.folder %}
    {% assign md_files = site.static_files | where_exp: "file", "file.path contains folder_path and file.extname == '.md'" %}
    
    {% for file in md_files %}
      {% assign filename = file.name | remove: '.md' %}
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ filename | replace: '-', ' ' | capitalize }}</h5>
            <p class="card-text text-muted small">{{ file.path }}</p>
            <a href="{{ '/' | append: file.path }}" class="btn btn-hacker btn-sm">Read</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>

